<h2>Hera is the mother of all gods!!</h2>
<div class="hera">
    <p>Hera is so badass!!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis explicabo alias sapiente aperiam magnam modi ea quidem porro illo obcaecati fuga aliquid assumenda est rerum rem molestias inventore, omnis quas.</p>
</div>