<div class="zeus">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae itaque asperiores cum, debitis in blanditiis dolore corrupti officiis culpa temporibus delectus sint veritatis eum. Aperiam nihil fugiat ratione porro voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea aut enim autem reiciendis repellendus doloremque voluptatum, vero molestiae quam! Atque eveniet cupiditate distinctio iste facere nulla rerum est laborum!</p>
</div>